<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <form>
    <input type="text" [(ngModel)]="userData.name" name="name" placeholder="Nome">
    <input type="text" [(ngModel)]="userData.surname" name="surname" placeholder="Cognome">
    <input type="date" [(ngModel)]="userData.dob" name="dob">
    <input type="text" [(ngModel)]="userData.gender" name="gender" placeholder="Genere">
    <input type="text" [(ngModel)]="userData.birthplace" name="birthplace" placeholder="Luogo di nascita">
    <button type="button" (click)="calculateCF()">Calcola Codice Fiscale</button>
  </form>
  <h2>Codice Fiscale: {{ codiceFiscale }}</h2>
</div>
